/* // @import "bootstrap/scss/bootstrap" */
:root {
  --Primary800: #304A6F;
  --Primary500: #516786;
  --Primary300: #94AFCA;
  --Primary100: #D8E2EC;
  --Secondary800: #8E7471;
  --Secondary500: #C2B2A3;
  --Secondary100: #F8F7F3;
  --Warining100: #FEECC1;
  --Warining300: #FDDB8A;
  --Warining500: #FCCA53;
  --Danger500: #F24E1E;
  --Danger300: #ECACAC;
  --Danger100: #F5D2D2;
  --Black: #101C35;
  --White: #FFFFFF;
  --card-shadow: 0 4px 10px 0 rgba(48, 74, 111, 0.25);
  --highlight: var(--Primary300) 0px 0px 10px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.375rem;
}

p {
  font-size: 1rem;
  word-break: break-all !important;
  overflow-wrap: break-word !important;
}

@media (max-width:767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 0.95rem;
    margin: 0;
  }
}

body {
  background-color: var(--Secondary100);
  font-family: var(--font-noto-sans-tc), "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

/* 如果只是想純掛顏色 */
.primary800 {
  color: var(--Primary800);
}

.primary500 {
  color: var(--Primary500);
}

.primary300 {
  color: var(--Primary300);
}

.primary100 {
  color: var(--Primary100);
}

.secondary800 {
  color: var(--Secondary800);
}

.secondary500 {
  color: var(--Secondary500);
}

.secondary100 {
  color: var(--Secondary100);
}

.warining100 {
  color: var(--Warining100);
}

.warining300 {
  color: var(--Warining300);
}

.warining500 {
  color: var(--Warining500);
}

.danger500 {
  color: var(--Danger500);
}

.danger300 {
  color: var(--Danger300);
}

.danger100 {
  color: var(--Danger100);
}

.black {
  color: var(--Black);
}

.white {
  color: var(--White);
}

/*---------------header----------------*/


.header {

  .btn {
    padding: 6px;
  }

  .icon-search {
    width: 24px;
    height: 24px;
    color: var(--Primary800);
    padding: 0;
  }

  .icon-cart {
    width: 26px;
    height: 24px;
    color: var(--Primary800);
  }

  .link {
    font-size: 1rem;

  }

  @media (max-width: 767px) {
    .link {
      font-size: 0.95rem;
    }
  }

  .navbar {
    padding-bottom: 0;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    color: var(--Primary800);
    font-weight: 700;
  }

  .nav-link.active {
    background-color: var(--Primary300);
    color: var(--White) !important;
  }

  .user a {
    font-weight: 700;
    color: var(--Primary800);
  }

  .head {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: none;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .head.show {
    box-shadow: var(--highlight);
    border: none;
  }

  .dropdown-menu {
    background-color: var(--Primary100);
    border-radius: 3px;
    box-shadow: var(--highlight);
    border: none;
    margin-top: 5px;
  }
}

/* 麵包屑 */
.breadcrumb{
  color: var(--Primary800);
  display: flex;
  align-items: center;
  .fa-house{
    margin-right: 8px;
  }
  ol{
    display: flex;
    /* gap: 8px; */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    color: var(--Primary800);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
  span{
    margin: 0 12px;
  }
}

/* Footer區域 */

footer {
  background-color: var(--Primary300);
  color: var(--White);
  padding: 30px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 0 1 auto;
    width: auto;
    padding: 0;

    h5 {
      font-weight: 700;
    }

    a {
      color: var(--White);
      text-decoration: none;
      margin-top: 10px;
      transition: all 0.3s ease;

      &:hover {
        letter-spacing: -0.5px;
      }
    }
  }

  .copyright {
    max-width: 1440px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    align-items: start;
    border-top: var(--White) 1px solid;

    p {
      width: 100%;
      margin: 0;
    }
  }
}